/* .heading{
    background-color: red;
}

.header{
    display: flex;
    height: 50;
    background-color: aquamarine;
    justify-content: space-around;
    align-items: center;
}

.icon{
    cursor: pointer;
    width: 50px;
}

.searchBar{
    border-radius: 10px;
    border: none;
    width: 400;
    height: 30px;
    padding: 15px;
}

.userIcon{
    display: inline-block;
    cursor: pointer;
}

.searchBar:focus{
    outline-color: rgb(15, 128, 233);
    outline-style: double;
} */

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(243, 177, 177);
    margin: 5px;
    background-color: rgb(248, 248, 79);
    align-items: center;
    border-radius: 10px;
}

.logo-container{
    display: flex;
}

.logo{
    width: 80px;
    margin-left: 2px;
    cursor: pointer;
    border-radius: 10px;
}

.app-name{
    margin-left: 20px;
    cursor: pointer;
    color: rgb(245, 35, 35);
}


.nav-items ul{
    display: flex;
    padding: 10px 50px;
}

.nav-items ul li{
    list-style: none;
    margin: 10px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    color: rgb(245, 35, 35)
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.search-bar-container{
    margin: 30px 0 30px 5px;
    position: relative;
}

.search-bar{
    width: 30%;
    height: 50px;
    border: 1px solid rgb(245, 35, 35);
    border-radius: 10px;
    background-color: rgb(250, 250, 154);
    padding: 0 50px 0 20px;
    margin-left: 400px;
}

.search-bar:focus-visible {
    outline: none;
}

.search-bar::placeholder{
    font-size: 14px;
}

.serach-icon{
    height: 20px;
    position: absolute;
    top: 15px;
    left: 62%;
    cursor: pointer;
    z-index: 99;
}

/* .serach-icon:hover{
    height: 25px;
    transition: 0.5s ease-in-out;
} */

.res-cards{
    width: 260px;
    height: 450px;
    background-color: rgb(241, 241, 181);
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 21%;
    height: 350px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 15px;
    border-radius: 15px;
}

.res-cards:hover{
    border: 1px solid rgb(243, 177, 177);
    cursor: pointer;
}

.res-logo{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.footer{
    background-color: rgb(248, 248, 79);
    height: 150px;
    border: 1px solid rgb(243, 177, 177);
    border-radius: 5px;
}

.linkStyle{
    text-decoration: none;
    color: red
}

.link-cards{
    text-decoration: none;
    color: black;
}
